footer.footer
	.container
		.logo
				a(href="#").logo__link
					img(src="assets/img/logo.png", alt="logo").logo__link-img
		p.connection Мы хотели бы услышать все о вашем проекте. Свяжись с нами.
		ul.socials__list
			li
				a(href="#").socials__link
					+icon('facebook')
			li
				a(href="#").socials__link
					+icon('google')
			li
				a(href="#").socials__link
					+icon('twitter')
			li
				a(href="#").socials__link
					+icon('pinterest')
		.footer__bottom
			.contacts
				h6.contacts__title Контакты
				ul.contacts__list
					li.contacts__phone
						a(href="#") +80 555 55 66
					li.contacts__email
						a(href="#") digi@gmail.com
			.address
				h6.address__title Адрес
				p.address__text Пр. Науки 107 Kиев / Украина
			.help
				h6.help__title Помощь
				ul.help__list
					li
						a(href="#").help__link Как с нами связаться?
					li
						a(href="#").help__link Что такое диджитал?
					li
						a(href="#").help__link Стоимость услуг
			.menu
				h6.menu__title Меню
				ul.menu__list
					li
						a(href="#").menu__link Наши проекты
					li
						a(href="#").menu__link Команда
					li
						a(href="#").menu__link Блог
	.up
		a(href="#").up__link
			span Вверх
			+icon('up')



