- var imgPath = "assets/img"
header.header
	.container
		.header__inner
			.logo
				a(href="#").logo__link
					img(src="assets/img/logo.png", alt="logo").logo__link-img
			nav.menu
				button.menu__btn