.head
	.top-slider
		.top-slider__item
			h3.top-slider__title Мысли глобально
			p.top-slider__text Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении
			button.top-slider__btn Подробнее
		.top-slider__item
			h3.top-slider__title Мысли глобально
			p.top-slider__text Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении
			button.top-slider__btn Подробнее
		.top-slider__item
			h3.top-slider__title Мысли глобально
			p.top-slider__text Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении
			button.top-slider__btn Подробнее