section.news
	.container
		h4.news__title.title Последние Новости
		.news__items
			a(href="#").news__item.item-news
				.item-news__img
					img(src="assets/img/news-1.jpg", alt="")
				h5.item-news__title 3Д в брендинге
				span.item-news__content
					img(src="assets/img/info.svg", alt="")
			a(href="#").news__item.item-news
				.item-news__img
					img(src="assets/img/news-2.jpg", alt="")
				h5.item-news__title Контекстная реклама
				span.item-news__content
					img(src="assets/img/info.svg", alt="")
			a(href="#").news__item.item-news
				.item-news__img
					img(src="assets/img/news-3.jpg", alt="")
				h5.item-news__title Графика
				span.item-news__content
					img(src="assets/img/info.svg", alt="")
			a(href="#").news__item.item-news
				.item-news__img
					img(src="assets/img/news-4.jpg", alt="")
				h5.item-news__title Корпоративная культура
				span.item-news__content
					img(src="assets/img/info.svg", alt="")
			a(href="#").news__item.item-news
				.item-news__img
					img(src="assets/img/news-5.jpg", alt="")
				h5.item-news__title Уникальный дизайн
				span.item-news__content
					img(src="assets/img/info.svg", alt="")
			a(href="#").news__item.item-news
				.item-news__img
					img(src="assets/img/news-6.jpg", alt="")
				h5.item-news__title Взгляд со стороны
				span.item-news__content
					img(src="assets/img/info.svg", alt="")
			a(href="#").news__item.item-news
				.item-news__img
					img(src="assets/img/news-7.jpg", alt="")
				h5.item-news__title Соц сети и их польза
				span.item-news__content
					img(src="assets/img/info.svg", alt="")
			a(href="#").news__item.item-news
				.item-news__img
					img(src="assets/img/news-8.jpg", alt="")
				h5.item-news__title Эксклюзивность
				span.item-news__content
					img(src="assets/img/info.svg", alt="")
			.item-break.item-break--1
			.item-break.item-break--2
			.item-break.item-break--3
