section.project
	.container
		h4.project__title.title Наши Проекты
		.project__items
			.project__item
				.project__item-img(style="background: url(assets/img/project-1.jpg) no-repeat center center / cover")
					.project__item-inner
						a(href="#").project__item-info
							img(src="assets/img/info.svg", alt="")
						a(href="#").project__item-search
							img(src="assets/img/search.svg", alt="")
				a(href="#").project__item-link Lalique бутик
			.project__item
				.project__item-img(style="background: url(assets/img/project-2.jpg) no-repeat center center / cover")
					.project__item-inner
						a(href="#").project__item-info
							img(src="assets/img/info.svg", alt="")
						a(href="#").project__item-search
							img(src="assets/img/search.svg", alt="")
				a(href="#").project__item-link Строительство домов
			.project__item
				.project__item-img(style="background: url(assets/img/project-3.jpg) no-repeat center center / cover")
					.project__item-inner
						a(href="#").project__item-info
							img(src="assets/img/info.svg", alt="")
						a(href="#").project__item-search
							img(src="assets/img/search.svg", alt="")
				a(href="#").project__item-link Кофейня
			.project__item
				.project__item-img(style="background: url(assets/img/project-4.jpg) no-repeat center center / cover")
					.project__item-inner
						a(href="#").project__item-info
							img(src="assets/img/info.svg", alt="")
						a(href="#").project__item-search
							img(src="assets/img/search.svg", alt="")
				a(href="#").project__item-link Уникальные туры