section.services
	.container
		.services__inner
			.services__head
				h4.services__title.title Сервис
				p.services__descr От идеи до незабываемого и измеримого результата.
				p.services__text Интеграция безупречного производства, передовых технологий и тщательного измерения производительности
			.services__items
				.services__item
					.services__item-inner
						img(src="assets/img/serv-1.png", alt="").services__item-img
						h6.services__item-title Стратегия
						p.services__item-text Создадим уникальный и удобный дизайн..
						a(href="#").services__item-link Подробнее
				.services__item
					.services__item-inner
						img(src="assets/img/serv-2.png", alt="").services__item-img
						h6.services__item-title Анализ
						p.services__item-text Создадим уникальный и удобный дизайн..
						a(href="#").services__item-link Подробнее
				.services__item
					.services__item-inner
						img(src="assets/img/serv-3.png", alt="").services__item-img
						h6.services__item-title Соцсети
						p.services__item-text Создадим уникальный и удобный дизайн..
						a(href="#").services__item-link Подробнее
				.services__item
					.services__item-inner
						img(src="assets/img/serv-4.png", alt="").services__item-img
						h6.services__item-title Развитие
						p.services__item-text Создадим уникальный и удобный дизайн..
						a(href="#").services__item-link Подробнее
				.services__item
					.services__item-inner
						img(src="assets/img/serv-5.png", alt="").services__item-img
						h6.services__item-title Контент
						p.services__item-text Создадим уникальный и удобный дизайн..
						a(href="#").services__item-link Подробнее
				.services__item
					.services__item-inner
						img(src="assets/img/serv-6.png", alt="").services__item-img
						h6.services__item-title Дизайн UX
						p.services__item-text Создадим уникальный и удобный дизайн..
						a(href="#").services__item-link Подробнее
				.services__item
					.services__item-inner
						img(src="assets/img/serv-7.png", alt="").services__item-img
						h6.services__item-title Таргетированная #[br] реклама
						p.services__item-text Создадим уникальный и удобный дизайн..
						a(href="#").services__item-link Подробнее
				.services__item
					.services__item-inner
						img(src="assets/img/serv-8.png", alt="").services__item-img
						h6.services__item-title Продукт
						p.services__item-text Создадим уникальный и удобный дизайн..
						a(href="#").services__item-link Подробнее


