.team
	.container
		.team__inner
			img(src="assets/img/team.jpg", alt="").team__images
			.team__content
				h4.team__title.title Команда
				.team__text
					p Наша команда - это наша самая большая ценность. Мы трудились, чтобы собрать группу  экспертов, чьи навыки дополняют друг друга.
					p У членов нашей команды разные истории, но мы разделяем общую страсть к идеалу. Мы верим, чтобы оставаться профессионалом, нужно развиваться, поэтому мы постоянно ищем способы, как стать лучше в том, что мы делаем.
				button.team__btn Смотреть видео