section.testimonials
	.container
		.testimonials__items
			.testimonials__item
				.quotemark
					img(src="assets/img/quotes.svg", alt="")
				p.quote Если нужно создавать либо повышать имидж компании, то #[span диджитал-маркетинг] является наиболее подходящим
				.author - Маргарита Акулич
			.testimonials__item
				.quotemark
					img(src="assets/img/quotes.svg", alt="")
				p.quote Если нужно создавать либо повышать имидж компании, то #[span диджитал-маркетинг] является наиболее подходящим
				.author - Маргарита Акулич
			.testimonials__item
				.quotemark
					img(src="assets/img/quotes.svg", alt="")
				p.quote Если нужно создавать либо повышать имидж компании, то #[span диджитал-маркетинг] является наиболее подходящим
				.author - Маргарита Акулич
